<div class="main-container">
  <div class="title-container">
    <p class="title">PRODUTOS</p>
    <p class="subtitle">&nbsp;/&nbsp;NOVO</p>
  </div>

  <div class="form-container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="group">grupo</label>
          <input type="text" class="form-control" id="group">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="cod">Código Estruturado</label>
          <input type="number" class="form-control" id="cod">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="alt">Código Alternativo</label>
          <input type="number" class="form-control" id="alt">
        </div>
      </div>

      <div class="form-row form-row-sizes">
        <div class="form-group col-md-6">
          <label for="stock">Estoque</label>
          <input type="number" class="form-control" id="stock">
        </div>

        <div class="form-group col-md-6">
          <label for="min">Minimo</label>
          <input type="number" class="form-control" id="min">
        </div>
      </div>

      <div class="form-row-sizes">
        <button type="submit" class="btn btn-secondary col-md-4">Cancelar</button>
        <button type="submit" class="btn btn-success col-md-6">Confirmar</button>
      </div>
    </form>
  </div>
</div>