<div class="main-container">
  <div class="title-container">
    <p class="title">PRODUTOS</p>
    <p class="subtitle">&nbsp;/&nbsp;NOVO</p>
  </div>

  <div class="form-container">
    <form  [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Nome</label>
          <input type="text" class="form-control" formControlName="name" [ngClass]="cssErro('name')">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="group">grupo</label>
          <input formControlName="group" class="form-control" [ngClass]="cssErro('group')" list="groups">
          <datalist id="groups">
            <option *ngFor="let group of groups" [ngValue]="group"> {{ group.value }} </option>
          </datalist>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="cod">Código</label>
          <input type="text" class="form-control" formControlName="code" [ngClass]="cssErro('code')">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="alt">Fornecedor</label>
          <input type="text" class="form-control" formControlName="provider">
        </div>
      </div>

      <div class="form-row flex-row-input">
        <div class="form-group">
          <label for="stock">Estoque</label>
          <input type="number" class="form-control" formControlName="stock">
        </div>

        <div class="form-group">
          <label for="min">Minimo</label>
          <input type="number" class="form-control" formControlName="minStock">
        </div>
      </div>

      <div class="form-row flex-row-btn">
        <button type="button" class="btn btn-secondary" routerLink="/produtos">voltar</button>
        <button type="submit" class="btn btn-success">Confirmar</button>
      </div>
    </form>
    
  </div>
  <app-form-debug [form]="form"></app-form-debug>
</div>