@import "../../shared/colors.scss";

.provider {
  padding-left: 20px;
  text-align: left;
}

.is-zero {
  color: $red;
  border-color: $red;
}

/*responsive*/

@media only screen and (max-width: 1200px) {
  .form-grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 450px) {
  .filter-container {
    flex-direction: column;
    align-items: start;
  }

  .search {
    width: 100%;
  }

  .btn-success {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 760px), (min-device-width: 450px) and (max-device-width: 900px) {
  .main-container {
    background-color: white;
    padding: 0 50px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  tr:nth-child(odd) {
    background: whitesmoke;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  .cod-structured {
    display: none;
  }

  .table-row {
    color: black;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Nome";
  }
  td:nth-of-type(3):before {
    content: "Cód. Alt.";
  }
  td:nth-of-type(4):before {
    content: "Estoque";
  }
}
