<div class="main-container">
    <div class="title-container">
        <p class="title">Produtos</p>
    </div>

    <div class="filter-container">
        <div class="input-group search">
            <input type="text" class="form-control search-bar" placeholder="Pesquisar por nome" [formControl]="busca">
            <span class="fas fa-search search-icon"></span>
        </div>
        <div class="buttons">
            <button type="button" class="btn secondary">
                <span class="material-icons">
                    exit_to_app
                </span>
            </button>
            <button type="button" class="btn secondary">
                <span class="material-icons">
                    filter_alt
                </span>
            </button>
            <button type="button" class="btn primary" routerLink="/funcionarios/novo">
                <span class="material-icons">
                    sports_mma
                </span>
                <span class="material-icons">
                    add
                </span>
            </button>
        </div>
    </div>

    <div class="table-container">
        <div class="entry"><p>{{ entry }} entradas</p></div>
        <table class="table" *ngIf="products; else loading">
            <thead class="table-head-container">
                <tr class="table-head-box">
                    <th class="column-title" scope="col" *ngFor="let column of columns" (click)="organizar(column)"[ngClass]="{'column-selected': column === orderColumn}">
                        <span>{{ column | titlecase}}</span><mat-icon class="arrow">{{ordemCrescente ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></th>
                    <th class="column-title has-btn" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let product of products" class="table-row">
                    <td class="name-container">
                        <p class="name">{{ product.name }}</p>
                    </td>
                    <td class="cod">
                        <p *ngIf="product.code" class="number">{{ product.code }}</p>
                    </td>
                    <td class="cod">
                        <p class="group">{{ product.group }}</p>
                    </td>
                    <td>
                        <p class="provider">{{ product.provider }}</p>
                    </td>
                    <td>
                        <p *ngIf="product.value" class="number">{{ product.value }}</p>
                    </td>
                    <td>
                        <p *ngIf="product.stock" class="number" [ngClass]="isNegative(product.stock)">{{ product.stock }}</p>
                    </td>
                    <td class="icon-container">
                        <i class="far fa-trash-alt icon-btn" (click)='deleteProduct(product.key)'></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div class="loading">
                <div class="loader-animation"></div>
                <span class="loader-text">Carregando Produtos...</span>
            </div>
        </ng-template>
    </div>

</div>