<div class="main-container">
    <div class="title-container">
        <p class="title">PRODUTOS</p>
        <p class="subtitle">&nbsp;/&nbsp;LISTAR</p>
    </div>

    <div class="filter-container">
        <div class="input-group search">
            <input type="text" class="form-control search-bar" placeholder="Pesquisar por nome" [formControl]="busca">
            <span class="fas fa-search search-icon"></span>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-outline-secondary">
                <i class="fas fa-file-export"></i>
            </button>
            &nbsp;
            <button type="button" class="btn btn-outline-secondary">
                <i class="fas fa-filter"></i>
            </button>
            &nbsp;
            <button type="button" class="btn btn-outline-success" routerLink="/produtos/novo">
                <i class="fas fa-hard-hat" style="margin-right: 2px;"></i>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="table-container">
        <table class="table" *ngIf="products; else loading">
            <thead>
                <tr class="table-head">
                    <th class="colum-title" scope="col" *ngFor="let column of columns" (click)="organizar(column)">
                        {{ column }}&nbsp;<i class="fas fa-sort colum-title-icon"></i></th>
                    <th class="colum-title has-btn" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let product of products" class="table-row">
                    <td class="main-sub-container">
                        <p class="main">{{ product.name }}</p>
                    </td>
                    <td class="cod">
                        <p class="number">{{ product.code }}</p>
                    </td>
                    <td>
                        <p class="provider">{{ product.provider }}</p>
                    </td>
                    <td>
                        <p class="number" [ngClass]="ifZero(product.stock)">{{ product.stock }}</p>
                    </td>
                    <td class="icon-container">
                        <!-- <i class="fas fa-edit icon-btn"></i> -->
                        &nbsp;&nbsp;
                        <i class="fas fa-trash-alt icon-btn" (click)='deleteProduct(product.key)'></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div class="loading">
                <div class="loader-animation"></div>
                <span class="loader-text">Carregando Produtos...</span>
            </div>
        </ng-template>
    </div>

</div>