@import "../shared/colors";
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

.form-container {
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
    background-color: white;
    box-shadow: $box-shadow;

    .collapsible {
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        border-radius: 5px;
        padding: 10px;
        margin: 0px;

        &:after {
            color: #49b96d;
            content: "\002B";
            font-weight: bold;
            float: right;
        }

        &.active:after {
            content: "\2212";
        }
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        &.form-grid {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .form-control {
            padding: 5px;
        }

        .form-select-box {
            width: 300px;
        }

        .form-number-box,
        .btn {
            width: 80px;
        }

        .btn-success {
            padding: 0;
            height: 40px;
            font-size: 20px;
        }
    }
}

/* responsive */

@media (max-width: 1100px) {
    .form-container {
        .content {
            .form-select-box,
            .form-text-box {
                width: 250px;
            }
        }
    }
}

@media (max-width: 980px) {
    .form-container {
        .content {
            .form-select-box,
            .form-text-box {
                width: 220px;
            }
        }
    }
}

@media (max-width: 900px) {
    .form-container {
        .content {
            &.form-grid {
                flex-direction: column;
                align-items: flex-start;
            }
            .form-select-box,
            .form-text-box {
                width: 300px;
            }
            .form-control,
            .btn {
                margin: 5px 0;
            }
        }
    }
}

@media (max-width: 440px) {
    .form-select-box {
        width: 200px;
    }
}

@media (max-width: 330px) {
    .form-select-box {
        width: 150px;
    }
}

@media (max-device-width: 900px) {
    
	// Label the data
    td:nth-of-type(1):before {
        content: "Nome :";
    }
    td:nth-of-type(2):before {
        content: "Produto :";
    }
    td:nth-of-type(3):before {
        content: "Quantidade :";
    }
    td:nth-of-type(4):before {
        content: "Custo :";
    }
    td:nth-of-type(5):before {
        content: "Data :";
    }
}
