p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.btn.focus,
.btn:focus,
input:focus {
    outline: 0;
    box-shadow: none !important;
}

.form-control {
    padding: 5px;
}

.main-container {
    background-color: white;
    padding: 0 50px;
}

.title-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    color: gray;
}

.filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 20px 0;
}

.search {
    width: 300px;
    border: none;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(232, 232, 232);
}

.search-icon {
    width: 30px;
    color: #49b96d;
    margin: 0 10px;
}

.search-bar {
    border: none;
    height: 40px;
}

.form-container {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
}

.form-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-select-box,
.form-text-box {
    width: 300px;
}

.form-number-box,
.btn {
    width: 80px;
}

.btn-success {
    padding: 0;
    height: 40px;
    font-size: 20px;
}

.collapsible {
    background-color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.collapsible:after {
    color: #49b96d;
    content: "\002B";
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\2212";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.table-container {
    margin: 20px 0;
}

.table {
    background-color: white;
    color: gray;
    text-align: center;
    cursor: default;
}

.column-title {
    border: none;
    font-size: 20px;
    padding-left: 25px;
    font-weight: normal;
    color: gray;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.column-title:active {
    background-color: whitesmoke;
}

.column-title-icon {
    opacity: 0;
}

.column-title:hover {
    cursor: pointer;
}

.column-title:hover > .column-title-icon {
    opacity: 1;
}

.has-btn:hover,
.has-btn:active {
    cursor: default;
    background-color: initial;
}

td {
    border: none;
    vertical-align: middle;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-sub-container {
    text-align: left;
}

.icon-container {
    width: 75px;
}

.icon-btn {
    cursor: pointer;
}

.main {
    color: initial;
    font-weight: bold;
}

.table-row:hover {
    border: none;
    background-color: #5eeb8b62;
}

.number {
    border: 1px solid rgba(128, 128, 128, 0.516);
    display: inline-block;
    width: auto;
    padding: 2px;
    min-width: 50px;
}

/* responsive */

@media (max-width: 1000px) {
    .form-select-box,
    .form-text-box {
        width: 250px;
    }
}

@media (max-width: 900px) {
    .form-select-box,
    .form-text-box {
        width: 200px;
    }
}

@media (max-width: 800px) {
    .form-grid {
        flex-direction: column;
        align-items: center;
    }

    .form-select-box,
    .form-text-box {
        width: 300px;
    }

    .form-control,
    .btn {
        margin: 5px 0;
    }
}

@media (max-width: 440px) {
    .form-select-box,
    .form-text-box {
        width: 200px;
    }
}

@media (max-width: 330px) {
    .form-select-box,
    .form-text-box {
        width: 150px;
    }
}

/* convert table to column */

@media (max-device-width: 900px) {
    .main-container {
        background-color: white;
        padding: 0 50px;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 16px;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    tr:nth-child(odd) {
        background: whitesmoke;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .table-row {
        color: black;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Funcionario";
    }
    td:nth-of-type(2):before {
        content: "Produto";
    }
    td:nth-of-type(3):before {
        content: "Quantidade";
    }
    td:nth-of-type(4):before {
        content: "Data";
    }
}
