@import "../shared/colors";

.form-container {
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .collapsible {
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        border-radius: 5px;
        padding: 10px;
        margin: 0px;

        &:after {
            color: #49b96d;
            content: "\002B";
            font-weight: bold;
            float: right;
        }

        &.active:after {
            content: "\2212";
        }
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        &.form-grid {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .form-control {
            padding: 5px;
        }

        .form-select-box {
            width: 300px;
        }

        .form-number-box,
        .btn {
            width: 80px;
        }

        .btn-success {
            padding: 0;
            height: 40px;
            font-size: 20px;
        }
    }
}

/* responsive */

@media (max-width: 1000px) {
    .form-select-box,
    .form-text-box {
        width: 250px;
    }
}

@media (max-width: 900px) {
    .form-select-box,
    .form-text-box {
        width: 200px;
    }
}

@media (max-width: 800px) {
    .form-grid {
        flex-direction: column;
        align-items: center;
    }

    .form-select-box {
        width: 300px;
    }

    .form-control,
    .btn {
        margin: 5px 0;
    }
}

@media (max-width: 440px) {
    .form-select-box {
        width: 200px;
    }
}

@media (max-width: 330px) {
    .form-select-box {
        width: 150px;
    }
}

/* convert table to column */

@media (max-device-width: 900px) {
    .main-container {
        background-color: white;
        padding: 0 50px;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 16px;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    tr:nth-child(odd) {
        background: whitesmoke;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .table-row {
        color: black;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Funcionario";
    }
    td:nth-of-type(2):before {
        content: "Produto";
    }
    td:nth-of-type(3):before {
        content: "Quantidade";
    }
    td:nth-of-type(4):before {
        content: "Data";
    }
}
