<div class="main-container">
    <div class="title-container">
        <p class="title">MOVIMENTAÇÕES</p>
        <p class="subtitle">&nbsp;/&nbsp;LISTAR</p>
    </div>

    <div class="filter-container">
        <div class="input-group search">
            <input type="text" class="form-control search-bar" placeholder="Pesquisar" [formControl]="busca">
            <span class="fas fa-search search-icon"></span>
        </div>
    </div>

    <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <p class="collapsible">Nova Movimentação</p>
        <div class="content form-grid">
            <select formControlName="mover" class="form-control form-select-box employee-form">
                <option *ngFor="let employee of employees" [ngValue]="employee.name">{{ employee.name }} {{
                    employee.lastName }}</option>
            </select>
            <select formControlName="product" class="form-control form-select-box product-form">
                <option *ngFor="let product of products" [ngValue]="product.name">{{ product.name }}</option>
            </select>
            <div class="input form-number-box">
                <input type="number" class="form-control" formControlName="input" placeholder="Entrada">
            </div>
            <div class="output form-number-box">
                <input type="number" class="form-control" formControlName="output" placeholder="Saida">
            </div>
            <button type="submit" class="btn btn-success">
                Enviar</button>
        </div>
    </form>

    <app-form-debug [form]="form"></app-form-debug>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr class="table-head">
                    <th class="column-title" scope="col" *ngFor="let column of columns" (click)="organize(column.ref)">
                        {{ column }}&nbsp;<i class="fas fa-sort column-title-icon"></i></th>
                    <th class="column-title has-btn" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let moviment of moviments" class="table-row">
                    <td class="main-sub-container">
                        <p class="main">{{ moviment.mover }}</p>
                    </td>
                    <td>
                        <P>{{ moviment.product }}</P>
                    </td>
                    <td>
                        <p class="number">{{ moviment.quantity }}</p>
                    </td>
                    <td>{{ moviment.date | date:"dd/MM/yyyy" }}</td>
                    <td class="icon-container">
                        <i class="far fa-trash-alt icon-btn" (click)="deleteMoviment(moviment.key)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>