@import "./shared/colors.scss";

p {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

mat-sidenav-container {
    height: 100%;

    mat-sidenav {
        border: 0;
        background-color: white;
        width: 150px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        .logo {
            font-size: 70px;
            text-align: center;
            color: $white_green;
            padding: 5px 0;
            margin-bottom: 50px;
        }

        .nav-item {
            padding: 10px;
            margin-bottom: 5px;
            width: auto;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: flex-start;
            outline: none;
            cursor: pointer;
            color: rgba(128, 128, 128, 0.701);

            .material-icons {
                margin-right: 5px;
            }

            &:hover {
                color: black;
            }

            i {
                font-size: 20px;
                margin-right: 10px;
            }

            p {
                font-size: 12px;
            }
        }

        .active {
            background-color: white;
            color: black;
            border-right: 5px solid $white_green;
        }
    }
    
    .main-container {
        background-color: whitesmoke;

    }
}
.btn-toggle {
    display: none;
    font-size: 35px;
    margin: 10px 10px;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    .logo {
        // display: none;
    }

    .nav-item {
        margin: 0;
    }

    .btn-toggle {
        overflow: hidden;
        display: block;
        float: left;
        position: fixed;
        left: 20px;
        z-index: 9999;
    }

    .nav-item:hover,
    .active {
        border-radius: 0;
    }
}
