<mat-sidenav-container autosize>
  <mat-sidenav #sideNav [opened]="mobileQuery.matches ? 'false' : 'true'" [mode]="mobileQuery.matches ? 'over' : 'side'">

    <div class="flex-menu-container logo">
      <i class="fab fa-gofore"></i>
    </div>

    <!-- <div class="nav-item router-link" routerLink="/produtos" routerLinkActive="active">
      <i class="fas fa-hard-hat"></i><p>Produtos</p>
    </div>
    <div class="nav-item router-link" routerLink="/funcionarios" routerLinkActive="active">
      <i class="fas fa-user"></i><p>Funcionários</p>
    </div>
    <div class="nav-item router-link" routerLink="/movimentações" routerLinkActive="active">
      <i class="fas fa-exchange-alt"></i><p>Movimentações</p>
    </div>
    <div class="nav-item router-link"  routerLink="/configurações" routerLinkActive="active">
      <i class="fas fa-cog"></i><p>Configurações</p>
    </div> -->

    <div class="flex-menu-container">
      <p class="nav-sub">ALMOXARIFADO</p>
      <div class="nav-item router-link" routerLink="/produtos" routerLinkActive="active">
        <i class="fas fa-hard-hat"></i><p>Produtos</p>
      </div>
      <div class="nav-item router-link" routerLink="/funcionarios" routerLinkActive="active">
        <i class="fas fa-user"></i><p>Funcionários</p>
      </div>
      <div class="nav-item router-link" routerLink="/movimentações" routerLinkActive="active">
        <i class="fas fa-exchange-alt"></i><p>Movimentações</p>
      </div>
    </div>

    <div class="flex-menu-container">
      <p class="nav-sub">OUTROS</p>
      <div class="nav-item router-link"  routerLink="/configurações" routerLinkActive="active">
        <i class="fas fa-cog"></i><p>Configurações</p>
      </div>
      <div class="nav-item router-link" href="#">
        <i class="fas fa-bell"></i><p>Notificações</p>
      </div>
      <div class="nav-item router-link" href="#">
        <i class="fas fa-palette"></i><p>Temas</p>
      </div>
    </div>

    <div class="flex-menu-container last-menu">
      <p class="nav-sub">CONTA</p>
      <div class="nav-item router-link" href="#">
        <i class="fas fa-tools"></i><p>Ferramentas</p>
      </div>
      <div class="nav-item router-link" href="#">
        <i class="fas fa-sign-out-alt"></i><p>Sair</p>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="main-container">
    <i class="fas fa-bars btn-toggle" (click)="sideNav.toggle()"></i>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>