@import "./shared/colors.scss";

p {
    padding: 0;
    margin: 0;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    border-radius: 0 15px 15px 0;
    border: 0;
    background-color: $white_green;
    width: 100px;
}

.logo {
    font-size: 70px;
    text-align: center;
    color: white;
    background-color: $white_green;
    padding: 5px 0;
}

.nav-item {
    height: 100px;
    width: auto;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
        background-color: whitesmoke;
        color: $white_green;
    }

    i {
        font-size: 40px;
    }
    
    p {
        font-size: 12px;
    }
}

.active {
    background-color: white;
    color: $white_green;
}

.main-container {
    background-color: white;
}

.btn-toggle {
    display: none;
    font-size: 35px;
    margin: 10px 10px;
    float: left;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .logo {
        display: none;
    }

    .nav-item {
        margin: 0;
    }

    .btn-toggle {
        overflow: hidden;
        display: block;
        float: left;
        position: fixed;
        z-index: 9999;
    }

    .nav-item:hover,
    .active {
        border-radius: 0;
    }
}
