<div class="main-container">
    <div class="title-container">
        <p class="title">Colaboradores</p>

    </div>

    <div class="filter-container">
        <div class="input-group search">
            <input type="text" class="form-control search-bar" placeholder="Pesquisar por nome" [formControl]="busca">
            <span class="fas fa-search search-icon"></span>
        </div>
        <div class="buttons">
            <button type="button" class="btn secondary btn-print">
                <span class="material-icons">
                    exit_to_app
                </span>
            </button>
            <button type="button" class="btn secondary btn-excel">
                <span class="material-icons">
                    filter_alt
                </span>
            </button>
            <button type="button" class="btn primary" routerLink="/funcionarios/novo">
                <span class="material-icons">
                    perm_identity
                </span>
                <span class="material-icons">
                    add
                </span>
            </button>
        </div>
    </div>


    <div class="table-container">
        <div class="entry">
            <p>{{ entry }} entradas</p>
        </div>
        <table class="table" *ngIf="employees; else loading">
            <thead class="table-head-container">
                <tr class="table-head-box">
                    <th class="column-title" scope="col" *ngFor="let coluna of colunas" (click)="organizar(coluna)"
                        [ngClass]="{'column-selected': coluna === colunaOrdenada}">
                        <span>{{ coluna | translate }}</span>
                        <mat-icon class="arrow">{{ordemCrescente ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
                    </th>
                    <th class="column-title has-btn" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let employee of employees" class="table-row">
                    <td class="name-container">
                        <p class="main text-format">{{ employee.name }} {{ employee.lastName }}</p>
                    </td>
                    <td>
                        <p *ngIf="employee.code" class="number">{{ employee.code }}</p>
                    </td>
                    <td>
                        <p class="text-format">{{ employee.address }}</p>
                    </td>
                    <td>
                        <p *ngIf="employee.phoneNumber" class="number">{{ employee.phoneNumber | phone }}</p>
                    </td>
                    <td>
                        <p class="text-format">{{ employee.position.position }}</p>
                    </td>
                    <td>
                        <p class="text-format">{{ employee.position.sector }}</p>
                    </td>
                    <td class="icon-container">
                        <i class="far fa-trash-alt delete-icon icon-btn" (click)='deleteEmployee(employee.key)'></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div class="loading">
                <div class="loader-animation"></div>
                <span class="loader-text">Carregando Funcionários...</span>
            </div>
        </ng-template>
    </div>

</div>