p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.btn.focus,
.btn:focus,
input:focus {
  outline: 0;
  box-shadow: none !important;
}

.main-container {
  background-color: white;
  padding: 0 50px;
}

.title-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  color: gray;
}

.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 20px 0;
}

.search {
  margin: 20px;
  width: 300px;
  border: none;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 4px 0.5px gray;
}

.search-icon {
  width: 30px;
  color: #49b96d;
  margin: 0 10px;
}

.search-bar {
  border: none;
  height: 40px;
}

.btn {
  color: white;
  height: 25px;
  width: 50px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 4px 0.5px gray;
}

.btn-success {
  height: 40px;
  width: 120px;
  font-size: 20px;
}

.btn-text {
  display: block;
  margin: 0;
  padding-left: 5px;
  box-sizing: border-box;
}

.table {
  background-color: white;
  color: gray;
  text-align: center;
  cursor: default;
}

.colum-title {
  border: none;
  font-size: 20px;
  padding-left: 25px;
  font-weight: normal;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.colum-title:active {
  background-color: whitesmoke;
}

.colum-title-icon {
  opacity: 0;
}

.colum-title:hover {
  cursor: pointer;
}

.colum-title:hover > .colum-title-icon {
  opacity: 1;
}

.has-btn:hover, .has-btn:active {
  cursor: default;
  background-color: initial;
}

td {
  border: none;
  vertical-align: middle;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-sub-container {
  text-align: left;
}

.icon-container {
  width: 75px;
}

.icon-btn {
  cursor: pointer;
}

.main {
  color: initial;
  font-weight: bold;
}

.table-row:hover {
  border: none;
  background-color: #5eeb8b62;
}

@media only screen and (max-width: 1200px) {
  .form-grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 450px) {

  .filter-container {
    flex-direction: column;
    justify-content: center;
  }

  .search {
    width: 100%;
  }

  .form-grid {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 760px), (min-device-width: 450px) and (max-device-width: 900px) {
  .main-container {
    background-color: white;
    padding: 0 50px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  tr:nth-child(odd) {
    background: whitesmoke;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  .table-row {
    color: black;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Nome";
  }
  td:nth-of-type(2):before {
    content: "ID";
  }
  td:nth-of-type(3):before {
    content: "Cargo";
  }
  td:nth-of-type(4):before {
    content: "Função";
  }
}
