@import "../../shared/colors.scss";

.loading {
  * {
    margin: 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .loader-animation {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $white_green;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .loader-text {
    font-size: 24px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.icon-employee {
  color: $white_green;
}

/*responsive*/

@media only screen and (max-width: 1200px) {
  .form-grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 450px) {
  .filter-container {
    flex-direction: column;
    align-items: start;
  }

  .search {
    width: 100%;
  }

  .btn-success {
    margin-top: 20px;
  }
}

@media only screen and (max-device-width: 700px) {
  .main-container {
    background-color: white;
    padding: 0 50px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
  }

  .icon-container,
  .id-container {
    display: none;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  tr:nth-child(odd) {
    background: whitesmoke;
  }

  td,
  .main-sub-container {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  .table-row {
    color: black;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Nome";
  }
  td:nth-of-type(3):before {
    content: "Cargo";
  }
  td:nth-of-type(4):before {
    content: "Função";
  }
}
