<div class="main-container">
    <div class="title-container">
        <p class="title">FUNCIONÁRIOS</p>
        <p class="subtitle">&nbsp;/&nbsp;LISTAR</p>
    </div>

    <div class="filter-container">
        <div class="input-group search">
            <input type="text" class="form-control search-bar" placeholder="Pesquisar por nome" [formControl]="busca">
            <span class="fas fa-search search-icon"></span>
        </div>
        <button type="button" class="btn btn-success" routerLink="/funcionarios/novo">
            Novo</button>
    </div>

    <div class="table-container">
        <table class="table" *ngIf="employees; else loading">
            <thead>
                <tr class="table-head">
                    <th class="colum-title" scope="col" *ngFor="let coluna of colunas" (click)="organizar(coluna)">
                        {{ coluna }}&nbsp;<i class="fas fa-sort colum-title-icon"></i></th>
                    <th class="colum-title has-btn" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let employee of employees" class="table-row">
                    <td class="main-sub-container">
                        <p class="main">{{ employee.name }}</p>
                        <p class="sub">{{ employee.lastName }}</p>
                    </td>
                    <td class="id-container">
                        <p>#{{ employee.id }}</p>
                    </td>
                    <td>
                        <p>{{ employee.role.role }}</p>
                    </td>
                    <td>
                        <p>{{ employee.role.sector }}</p>
                    </td>
                    <td class="icon-container">
                        <i class="fas fa-search info-icon icon-btn"></i>
                        &nbsp;&nbsp;
                        <i class="far fa-trash-alt delete-icon icon-btn" (click)='deleteEmployee(employee.id)'></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div class="loading">
                <div class="loader-animation"></div>
                <span class="loader-text">Carregando Funcionários...</span>
            </div>
        </ng-template>
    </div>

</div>