@import "../../shared/colors.scss";

.table-selector-container {
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 10px;
    
    :first-child {
        margin-right: 20px;
    }
    
    .table-selector {
        border-bottom: 3.5px solid rgba(177, 177, 177, 0);
        color: gray;
        transition: border 0.1s ease-in-out;
        
        &:hover {
            color: black;
            cursor: pointer;
        }

        &.selector-activated {
            color: black;
            border-bottom: 3.5px solid $white_green;
        }
    }
}

@media (max-device-width: 900px) {
    
	// Label the data
    td:nth-of-type(1):before {
        content: "Nome :";
    }
    td:nth-of-type(2):before {
        content: "Código :";
    }
    td:nth-of-type(3):before {
        content: "Endereço :";
    }
    td:nth-of-type(4):before {
        content: "Telefone :";
    }
    td:nth-of-type(5):before {
        content: "Tipo :";
    }
}
