<div class="main-container">
    <div class="title-container">
        <p class="title">Empresas</p>
    </div>

    <div class="filter-container">
        <div class="input-group search">
            <input type="text" class="form-control search-bar" placeholder="Pesquisar por nome" [formControl]="busca">
            <span class="fas fa-search search-icon"></span>
        </div>
        <div class="buttons">
            <button type="button" class="btn secondary">
                <i class="fas fa-file-export"></i>
            </button>
            &nbsp;
            <button type="button" class="btn secondary">
                <i class="fas fa-filter"></i>
            </button>
            &nbsp;
            <button type="button" class="btn primary" routerLink="/fornecedor-filial/novo">
                <i class="fas fa-user-friends" style="margin-right: 2px;"></i>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="table-selector-container">
        <span class="table-selector" [ngClass]="{'selector-activated': tableSelector === 'providers'}"
            (click)="setSelector('providers')">
            Fornecedores
        </span>
        <span class="table-selector" [ngClass]="{'selector-activated': tableSelector === 'branchs'}"
            (click)="setSelector('branchs')">
            Filiais
        </span>
    </div>

    <div class="table-container">
        <table class="table">
            <thead class="table-head-container">
                <tr class="table-head-box">
                    <th class="column-title" scope="col" *ngFor="let coluna of colunas" (click)="organizar(coluna)"
                        [ngClass]="{'column-selected': coluna === ordenarColuna}">
                        <span>{{ coluna | titlecase}}</span>
                        <mat-icon class="arrow">{{ordemCrescente ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
                    </th>
                    <th class="column-title has-btn" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-body" *ngIf="tableSelector === 'providers'">
                <tr *ngFor="let provider of providers" class="table-row">
                    <td class="name-container">
                        <p class="main text-format">{{ provider.name }}</p>
                    </td>
                    <td>
                        <p class="number">{{ provider.code }}</p>
                    </td>
                    <td>
                        <p class="text-format">{{ provider.type }}</p>
                    </td>
                    <td class="icon-container">
                        <i class="far fa-trash-alt delete-icon icon-btn" (click)='deleteProvider(provider.key)'></i>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="tableSelector === 'branchs'" class="table-body">
                <tr *ngFor="let branch of branchs" class="table-row">
                    <td class="name-container">
                        <p class="main text-format">{{ branch.name }}</p>
                    </td>
                    <td>
                        <p class="number">{{ branch.code }}</p>
                    </td>
                    <td>
                        <p class="text-format">{{ branch.type }}</p>
                    </td>
                    <td class="icon-container">
                        <i class="far fa-trash-alt delete-icon icon-btn" (click)='deletebranch(branch.key)'></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div class="loading">
                <div class="loader-animation"></div>
                <span class="loader-text">Carregando...</span>
            </div>
        </ng-template>
    </div>
</div>
<router-outlet></router-outlet>