/* You can add global styles to this file, and also import other style files */
@import "./app/shared/colors.scss";
$table-border-radius: 8px;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  padding: 0;
  margin: 0 !important;
  font-size: 14px;
}

.btn.focus,
.btn:focus,
input:focus {
  outline: 0;
}

.btn {
  font-size: 22px;
  padding: 5px;
  height: 40px;
  width: 40px;
  background-color: $white_green;
  color: white;
  box-shadow: $box-shadow;

  &.primary {
    width: 60px;
  }

  &:hover {
    background-color: #51c475;
    color: white;
  }

  &:active {
    background-color: #36804d;

  }
}

.main-container {
  padding: 0 50px;

  .title-container {
    padding: 20px 0;
    border-bottom: 1px solid $gray;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .search {
      width: 300px;
      border: none;
      align-items: center;
      border-radius: 20px;
      background-color: white;
      box-shadow: $box-shadow;
    }

    .search-icon {
      width: 30px;
      color: $white_green;
      margin: 0 10px;
    }

    .search-bar {
      border: none;
      border-radius: 20px;
      height: 40px;
    }
  }

  // CSS OF TABLES
  .table-container {
    margin: 20px 0;
  }

  .table {
    background-color: white;
    color: gray;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    cursor: default;
    border-radius: 5px;
    box-shadow: $box-shadow;

    .table-head-box {
      .column-title {
        font-weight: normal;
        border: none;
        font-size: 20px;
        padding-left: 25px;
        border-bottom: 1px solid rgb(232, 232, 232);

        &:active {
          color: #33824c;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover > .column-title-icon {
          opacity: 1;
        }
      }
    }

    .table-body {
      .table-row {
        &:hover {
          transition: all 0.25s;
          border: none;
          background-color: #ebfaf3;
        }
      }

      td {
        border: none;
        vertical-align: middle;
        align-items: center;
        padding: 10px 10px;

        &.icon-container {
          width: 75px;
        }

        .icon-btn {
          cursor: pointer;
          font-size: 20px;
        }

        &.name-container {
          padding-left: 20px;
          text-align: left;
          color: rgb(33, 33, 33);
        }

        .number {
          display: inline-block;
          width: auto;
          padding: 2px;
          min-width: 50px;

          &.is-negative {
            color: $red;
          }
        }
      }
    }
  }

  .column-title-icon {
    opacity: 0;
  }

  .has-btn .has-btn {
    &:hover,
    &:active {
      cursor: default;
      background-color: initial;
    }
  }
}
