<div class="main-container">
  <div class="title-container">
    <p class="title">FUNCIONÁRIOS</p>
    <p class="subtitle">&nbsp;/&nbsp;NOVO</p>
  </div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Nome</label>
          <input type="text" class="form-control" formControlName="name" [ngClass]="cssErro('name')">
        </div>

        <div class="form-group col-md-12">
          <label for="lastName">Último nome</label>
          <input type="text" class="form-control" formControlName="lastName" [ngClass]="cssErro('lastName')">
        </div>
      </div>

      <div formGroupName="position">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="position">Cargo</label>
            <input formControlName="position" class="form-control" list="positions">
            <datalist id="positions">
              <option *ngFor="let position of positions" [ngValue]="position"> {{ position.value }} </option>
            </datalist>
          </div>

          <div class="form-group col-md-12">
            <label for="sector">Setor</label>
            <input formControlName="sector" class="form-control" list="sectors">
            <datalist id="sectors">
              <option *ngFor="let sector of sectors" [ngValue]="sector"> {{ sector.value }} </option>
            </datalist>
          </div>
        </div>
      </div>

      <div class="form-row flex-row-input">
        <div class="form-group">
          <label for="uniform">Uniforme</label>
          <input type="text" class="form-control" formControlName="uniformSize">
        </div>

        <div class="form-group">
          <label for="shoes">Calçado</label>
          <input type="text" class="form-control" formControlName="shoeSize">
        </div>

        <div class="form-group">
          <label for="gloves">Luva</label>
          <input type="text" class="form-control" formControlName="GloveSize">
        </div>
      </div>

      <div class="form-row flex-row-btn">
        <button type="button" class="btn btn-secondary" routerLink="/funcionarios">Voltar</button>
        <button type="submit" class="btn btn-success">Confirmar</button>
      </div>
    </form>


  </div>
  <!-- <app-form-debug [form]="form"></app-form-debug> -->
</div>