@import "../../shared/colors.scss";
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

.main-container {
  padding: 0 50px;

  .form-container {
    margin: 50px auto;
    height: fit-content;
    width: 350px;
    padding: 10px;
    background-color: white;
    box-shadow: $box-shadow;

    .flex-row-btn {
      margin-top: 20px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .btn {
        padding: 0;
        height: 40px;
        width: 95px;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
 
  .main-container {
    .title {
      font-size: 20px;
    }

    .form-container {
      width: 200px !important;

      .flex-row-btn {
        height: 90px;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
  
        .btn {
          height: 30px;
          width: 75px;
          font-size: 14px;
        }
      }
    }
  }
}