<div class="main-container">
    <div class="title-container">
      <p class="title">FUNCIONÁRIOS</p>
      <p class="subtitle">&nbsp;/&nbsp;NOVO</p>
    </div>
  
    <div class="form-container">
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name">
          </div>
  
          <div class="form-group col-md-12">
            <label for="lastName">Último nome</label>
            <input type="text" class="form-control" id="lastName">
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="position">Cargo</label>
            <input type="text" class="form-control" id="position">
          </div>
  
          <div class="form-group col-md-12">
            <label for="sector">Setor</label>
            <input type="text" class="form-control" id="sector">
          </div>
        </div>
  
        <div class="form-row form-row-sizes">
          <div class="form-group col-md-4">
            <label for="uniform">Uniforme</label>
            <input type="text" class="form-control" id="uniform">
          </div>
  
          <div class="form-group col-md-4">
            <label for="shoes">Calçado</label>
            <input type="text" class="form-control" id="shoes">
          </div>
  
          <div class="form-group col-md-4">
            <label for="gloves">Luva</label>
            <input type="text" class="form-control" id="gloves">
          </div>
        </div>
  
        <div class="form-row-sizes">
          <button type="submit" class="btn btn-secondary col-md-4">Cancelar</button>
          <button type="submit" class="btn btn-success col-md-6">Confirmar</button>
        </div>
      </form>
    </div>
  </div>